[submodule "Cherno/vendor/spdlog"]
	path = Cherno/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Cherno/vendor/GLFW"]
	path = Cherno/vendor/GLFW
	url = https://github.com/TheCherno/glfw
